{% extends "layout.html" %}
{% block body %}

<ul style="text-decoration: none;">
    <li>
        <a>Home</a>
    </li>
</ul>
<div class="col-md-8 p-4">
    <!-- List Home -->
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
            Options
        </button>
        <button onclick="location.href='/categories'" type="button" class="list-group-item list-group-item-action">
            Categories
        </button>
        <button onclick="location.href='/supplystatus'" type="button" class="list-group-item list-group-item-action">
            Supply Status
        </button>
        <button onclick="location.href='/non_returnable_parts'" type="button" class="list-group-item list-group-item-action">
            Non Returnable Parts
        </button>
        <button onclick="location.href='/change_agent'" type="button" class="list-group-item list-group-item-action">
            Change Purchase Agent and person in charge
        </button>
    </div>

</div>

{% endblock %}