{% extends "layout.html" %}
{% block body %}

<h3>Parts Categories</h3>
<div class="col-md-8 p-4">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
            <tr>
                <td><strong>Description</strong></td>
                <td style="
width: 20px;"><strong>Abbreviation</strong></td>
            </tr>
        </thead>
        <tbody>
            {% for parts in parts_categories %}
            <tr>
                <td><a href="/subcategory/{{ parts[0] }};{{ parts[1] }};{{ parts[2] }}" style="text-decoration: none; color: black;">{{ parts[1] }}</a></td>
                <td><a href="/subcategory/{{ parts[0] }};{{ parts[1] }};{{ parts[2] }}" style="text-decoration: none; color: black;">{{ parts[2] }}</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock %}