{% extends "layout.html" %}
{% block body %}

<ul>
    <li>
        <a href="/" style="color: black;">Home</a>
        <a>></a>
        <a href="/supplystatus" style="color: black;">Supply Status</a>
        <a>> Update</a>
    </li>
</ul>

<form class="row g-3" method="POST">
    <div class="col-md-6">
        <input type="text" class="form-control" name="description" placeholder="description" value="{{ desc }}">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-link"><i class="bi bi-floppy-fill"></i></button>
    </div>
</form>

{% endblock %}