{% extends "layout.html" %}
{% block body %}

<h1 class="m-4">Update Subcategory</h1>

<form class="row g-3" method="POST">
    <div class="col-md-6">
        <input type="text" class="form-control" name="description" placeholder="description" value="{{ desc }}">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="abbreviation" placeholder="abbreviation" value="{{ abbre }}">
    </div>
    <div class="col-md-4">
        <button type="submit" class="btn btn-link"><i class="bi bi-floppy-fill"></i></button>
    </div>
</form>

{% endblock %}